html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #616161;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "forma-djr-micro", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 28px;
	display: flex;
	flex-direction: column;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

main {
	flex: 1 0 auto;
}


/* layout */

header {
	padding: 18px 0;
	background: #fff;
	border-bottom: 1px solid #9500FF;
}
.hero,
footer {
	color: #fff;
	background-color: #9500FF;
}
.content {
	display: block;
}
.wrapper {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
  flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.wrapper-of-boxes {
	padding: 40px 0;
}
.col {
	display: block;
	float: left;
	padding: 60px 0;
}
.col-box {
	background: #F5F5F5;
	padding: 20px;
	margin-bottom: 20px;
	/* border: 1px solid #9500FF; */
}
.col-50 {
	width: calc(100%/2 - 50px);
	flex-grow:0;
}
.col-40 {
	width: 40%;
}
.col-60 {
	width: 60%;
}
.col-30 {
	width: calc(100%/3 - 53px);
  flex-grow:0;
}
.col-20 {
	width: 20%;
}
.img-col {
	margin-top: auto;
	padding-bottom: 0;
	line-height: 0;
}
.img-col img {
	max-width: 100%;
	max-height: 500px;
}

@media only screen and (max-width: 1240px) {
  .wrapper {
    padding: 0 20px;
		flex-direction: column;
  }
	.wrapper-of-boxes {
		padding: 20px;
	}
	.wrapper-of-boxes .col {
		padding: 20px !important;
		width: calc(100% - 40px);
	}
	.col {
		width: 100%;
		padding: 20px 0;
	}
	.col-box {
		padding: 20px;
	}
	.col:first-child {
		padding-top: 60px;
	}
	.col:last-child {
		padding-bottom: 60px;
	}
	.img-col:last-child {
		margin-top: auto;
		padding-bottom: 0;
		line-height: 0;
	}
	.img-col img {
		max-height: 300px;
	}
	.hideonmob {
		display: none;
	}
}


/* links */

a {
	color: #9500FF;
	text-decoration: none;
	font-weight: 700;
}
a:hover {
	text-decoration: underline;
}
.hero a,
footer a {
	color: #fff;
	text-decoration: none;
}
.hero a.button {
	color: #9500FF;
}



/* inputs */

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}


/* buttons */

.button {
	color: #9500FF;
	background-color: #00F4B7;
	font-weight: 700;
	outline: none;
	font-size: 18px;
	line-height: 24px;
	padding: 10px 18px;
	margin-right: 10px;
	margin-bottom: 10px;
	display: inline-block;
	cursor: pointer;
}

.button:hover {
	text-decoration: none;
	-webkit-box-shadow: inset 0px -5px 0px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px -5px 0px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px -5px 0px 0px rgba(0,0,0,0.2);
}

.button:disabled {
	opacity: 0.5;
}

.button:not(:disabled):active {
	-webkit-box-shadow: inset 0px -58px 0px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px -58px 0px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px -58px 0px 0px rgba(0,0,0,0.2);

}

.button:focus {
	border-color: #FFD700;
}

.button:visited {
	opacity: 0.5;
	color: #9500FF;
}


/* list */

ul {
	padding: 0;
	margin: 0;
}
.role-selection li,
.profiles li {
	list-style-type: none;
	display: inline-block;
}
.profiles li {
	padding: 10px;
	margin: 0 10px 10px 0;
}
.employer-with-match {

}
.employer-with-match span {
	display: block;
}



/* text */

h1, h2, h3, h4 {
	color: #9500FF;
	font-weight: 700;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child {
	margin-top: 0;
}
h2 {
	font-size: 1.6em;
	line-height: 1.4em;
	margin-bottom: 20px;
}
.slogan {
	font-size: 1.6em;
	line-height: 1.4em;
	margin-bottom: 30px;
	font-weight: 700;
}
.green {
	color: #00F4B7;
}


/* misc */

label {
	display: block;
}
.logo {
	line-height: 0;
}
.logo img {
	height: 30px;
}
